{{define "css"}}
<!-- Ion Slider -->
<link rel="stylesheet" href="/plugins/ion-rangeslider/css/ion.rangeSlider.min.css">
<!-- bootstrap slider -->
<link rel="stylesheet" href="/plugins/bootstrap-slider/css/bootstrap-slider.min.css">
{{end}}
{{define "content"}}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>ユーザ設定</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">ユーザ設定</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">設定</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div><!-- /.card-header -->
            <div class="card-body">
              <form action="/settings/update" method="post" id="form">
                <label for="fontSize" id="label-title" style="font-size: {{.fontSize}}%;">文字サイズ</label>
                <div class="col-sm-6">
                  <input id="font-size" type="text" name="fontSize" value="{{.fontSize}}">
                </div>
                <button type="submit" class="btn btn-primary float-sm-right">更新</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Ion Slider -->
<script src="/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<!-- Bootstrap slider -->
<script src="/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>
<script>
  $(function () {
    $('#font-size').ionRangeSlider({
      min: 100,
      max: 200,
      type: 'single',
      step: 1,
      postfix: ' %',
      prettify: false,
      hasGrid: true,
      onChange: function (data) {
        $('#label-title').css('font-size', `${data.from}%`);
      },
    });
  });
</script>
{{end}}