{{define "css"}}
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
<!-- Select2 -->
<link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
{{end}}
{{define "content"}}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>カルテ編集</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/orders">カルテ一覧</a></li>
            <li class="breadcrumb-item active">カルテ編集</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">カルテ情報</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            {{$order := .order}}
            <form action="/orders/{{$order.ID}}/update" method="post" id="form">
              <h4>お客様情報</h4>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="userId">お客様</label>
                    <select class="form-control select2" style="width: 100%;" name="userId" id="users">
                      <option value="{{$order.User.ID}}">{{$order.User.FamilyName}}{{$order.User.GivenName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="dateOfVisit">来店日</label>
                    <div class="input-group date" id="dateOfVisit" data-target-input="nearest">
                      <input type="text" class="form-control datetimepicker-input" data-target="#dateOfVisit"
                        name="dateOfVisit" value="{{$order.DateOfVisit}}" />
                      <div class="input-group-append" data-target="#dateOfVisit" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="dateOfExit">退店時間</label>
                    <div class="input-group date" id="dateOfExit" data-target-input="nearest">
                      <input type="text" class="form-control datetimepicker-input" data-target="#dateOfExit" name="exit"
                        value="{{$order.DateOfExit}}" />
                      <div class="input-group-append" data-target="#dateOfExit" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="solid">
              <h4>カルテ詳細</h4>
              <div class="row">
                <div class="col-12">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>カルテゴリ</th>
                        <th>コース</th>
                        <th>価格</th>
                        <th>税率</th>
                        <th>本人以外の場合</th>
                      </tr>
                    </thead>
                    <tbody class="course-form-main">
                      {{range $i, $orderItem := $order.OrderItems}}
                      {{ $course := "コース" }}
                      {{ if eq $orderItem.Product.ProductType.String $course }}
                      <tr class="course-form {{if $orderItem.OtherPerson}} bgc-yellow {{end}}" id="course-form-{{$i}}">
                        <input type="hidden" value="{{$orderItem.ID}}" name="orderItem[][id]" />
                        <td>
                          <select class="form-control select2 categories-select" style="width: 100%;"
                            id="categories-select-{{$i}}">
                            <option value="{{$orderItem.Product.CategoryID}}">{{$orderItem.Product.Category.Name}}
                            </option>
                          </select>
                        </td>
                        <td>
                          <div class="form-group">
                            <select class="form-control select2 courses-select" style="width: 100%;"
                              name="orderItem[][productId]" id="courses-select-{{$i}}">
                              <option value="{{$orderItem.ProductID}}">{{$orderItem.Product.Name}}</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="number" class="form-control" placeholder="1000" name="orderItem[][price]"
                              onchange="updatePrice()" value="{{$orderItem.Price}}">
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="number" class="form-control" placeholder="10%" name="orderItem[][tax]"
                              value="{{$orderItem.Tax}}">
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="custom-control custom-checkbox">
                              <input class="custom-control-input otherPerson" type="checkbox" id="otherPerson-{{$i}}"
                                value="{{$orderItem.OtherPerson}}" {{if $orderItem.OtherPerson}} checked {{end}}>
                              <label for="otherPerson-{{$i}}" class="custom-control-label"></label>
                              <input type="hidden" value="{{$orderItem.OtherPerson}}" name="orderItem[][otherPerson]"
                                id="otherPersonHidden-{{$i}}">
                            </div>
                          </div>
                        </td>
                      </tr>
                      {{end}}
                      {{end}}
                    </tbody>
                  </table>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-outline-primary float-sm-right bgc-white"
                    id="plusCourse">コース追加＋</button>
                </div>
              </div>
              <hr class="dotted">
              <div class="row">
                <div class="col-12">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>商品</th>
                        <th>価格</th>
                      </tr>
                    </thead>
                    <tbody class="product-form-main">
                      {{range $i, $orderItem := $order.OrderItems}}
                      {{ $product := "商品" }}
                      {{ if eq $orderItem.Product.ProductType.String $product }}
                      <tr class="product-form" id="product-form-{{$i}}">
                        <input type="hidden" value="{{$orderItem.ID}}" name="orderItem[][id]" />
                        <td>
                          <div class="form-group">
                            <select class="form-control select2 products-select" style="width: 100%;"
                              name="orderItem[][productId]" id="products-select-{{$i}}">
                              <option value="{{$orderItem.ProductID}}">{{$orderItem.Product.Name}}</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="number" class="form-control" placeholder="1000" name="orderItem[][price]"
                              onchange="updatePrice()" value="{{$orderItem.Price}}">
                          </div>
                        </td>
                      </tr>
                      {{end}}
                      {{end}}
                    </tbody>
                  </table>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-outline-primary float-sm-right" id="plusProduct">店舗品＋</button>
                </div>
              </div>
              <hr class="dotted">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="status">ステータス</label>
                    <select id="status" class="form-control custom-select" name="status">
                      <option disabled>ステータスを選択</option>
                      {{range $i,$status := .statuses}}
                      <option value="{{$status.value}}" {{if eq $order.Status.String $status.ja}} selected {{end}}>
                        {{$status.ja}}</option>
                      {{end}}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="paymentMethod">支払い方法</label>
                    <select id="paymentMethod" class="form-control custom-select" name="paymentMethod">
                      <option selected disabled>支払い方法選択</option>
                      {{range $i,$paymentMethod:= .paymentMethods}}
                      <option value="{{$paymentMethod.value}}" {{if eq $order.PaymentMethod.String $paymentMethod.ja}}
                        selected {{end}}>{{$paymentMethod.ja}}</option>
                      {{end}}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="discountType">値引タイプ</label>
                    <div class="form-group clearfix">
                      {{range $i,$discountType := .discountTypes}}
                      <div class="icheck-primary d-inline">
                        <input type="radio" id="dicountType-{{$discountType.value}}" name="discountType"
                          value={{$discountType.value}} onchange="updatePrice()" {{if eq $order.DiscountType.String
                          $discountType.ja}} checked {{end}}>
                        <label for="dicountType-{{$discountType.value}}">{{$discountType.ja}}</label>
                      </div>
                      {{end}}
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="discountAmount">値引き金額</label>
                    <input type="number" class="form-control" placeholder="1000" name="discountAmount"
                      id="discountAmount" onchange="updatePrice()" value="{{$order.DiscountAmount}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="subTotalPrice">小計</label>
                    <input type="number" class="form-control" placeholder="1000" name="subTotalPrice" id="subTotalPrice"
                      value="{{$order.SubTotalPrice}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="totalPrice">金額</label>
                    <input type="number" class="form-control" placeholder="1000" name="totalPrice" id="totalPrice"
                      value="{{$order.TotalPrice}}">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary float-sm-right">編集</button>
            </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </section>
</div>
<div style="display: none;">
  <table>
    <tr id="base-coure">
      <td>
        <select class="form-control select2 categories-select" style="width: 100%;">
      </td>
      <td>
        <div class="form-group">
          <select class="form-control select2 courses-select" style="width: 100%;" name="orderItem[][productId]">
          </select>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="1000" name="orderItem[][price]"
            onchange="updatePrice()">
        </div>
      </td>
      <td>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="10%" name="orderItem[][tax]" value="10">
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input otherPerson" type="checkbox" id="otherPerson" value="false">
            <label for="otherPerson" class="custom-control-label"></label>
            <input type="hidden" value="false" name="orderItem[][otherPerson]" id="otherPersonHidden">
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<div style="display: none;">
  <table>
    <tr id="base-product">
      <td>
        <select class="form-control select2 products-select" style="width: 100%;" name="orderItem[][productId]">
        </select>
      </td>
      <td>
        <input type="number" class="form-control" placeholder="1000" name="orderItem[][price]" onchange="updatePrice()">
      </td>
    </tr>
  </table>
</div>
<!-- Select2 -->
<script src="/plugins/select2/js/select2.full.min.js"></script>
<!-- date-range-picker -->
<script src="/plugins/daterangepicker/daterangepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ja.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- jquery-validation -->
<script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validation/additional-methods.min.js"></script>
<script src="https://ajaxzip3.github.io/ajaxzip3.js"></script>
<script>
  function changeBg() {
    var number = this.id.split('-')[1];
    this.value = !JSON.parse(this.value.toLowerCase());
    $(`#otherPersonHidden-${number}`).val(this.value);

    if (JSON.parse(this.value.toLowerCase())) {
      $(`#course-form-${number}`).addClass('bgc-yellow');
    } else {
      $(`#course-form-${number}`).removeClass('bgc-yellow');
    }
  }

  function updatePrice() {
    var price = 0;
    var discountType = 0;
    var discountAmount = parseInt($('input[name="discountAmount"]').val() || 0);

    var discountTypeItems = document.querySelectorAll('input[name="discountType"]');
    discountTypeItems.forEach(item => {
      if (item.checked) discountType = parseInt(item.value);
    });
    var priceItems = document.querySelectorAll('input[name="orderItem[][price]"]')
    priceItems.forEach(item => {
      if (item.value == '') return;
      price += parseInt(item.value);
    });
    $('#subTotalPrice').val(price);

    if (discountType == 1) {
      price -= discountAmount;
    } else if (discountType == 2 && discountAmount > 0) {
      price = price * (100 - discountAmount) / 100;
    }
    $('#totalPrice').val(price);
  }
  $(function () {
    $('#form').validate({
      rules: {
        userId: {
          required: true,
        },
        dateOfVisit: {
          required: true
        },
        dateOfExit: {
          required: true
        },
        paymentMethod: {
          required: true,
        },
        status: {
          required: true,
        }
      },
      messages: {
        userId: {
          required: 'お客様を選択してください',
        },
        dateOfVisit: {
          required: '来店日を入力してください',
        },
        dateOfExit: {
          required: '退店時間を入力してください',
        },
        paymentMethod: {
          required: '支払い方法を選択してください',
        },
        status: {
          required: 'ステータスを選択してください'
        }
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });

    //Initialize Select2 Elements
    "{{range $i, $orderItem := .order.OrderItems}}"
    document.getElementById('otherPerson-{{$i}}').addEventListener('change', changeBg);
    $('#categories-select-{{$i}}').select2({
      ajax: {
        url: '/api/categories',
        data: function (params) {
          return {
            familyName: params.term,
          }
        },
        processResults: function (data, params) {
          const results = data.map(item => {
            return {
              id: item.id,
              value: item.id,
              text: `${item.name}`,
            };
          });
          return {
            results: results,
          }
        }
      },
      placeholder: 'カテゴリで絞る'
    });
    $('#courses-select-{{$i}}').select2({
      ajax: {
        url: '/api/products',
        data: function (params) {
          return {
            name: params.term,
            categoryId: $('#categories-select-0').val(),
          }
        },
        processResults: function (data, params) {
          const results = data.map(item => {
            return {
              id: item.id,
              value: item.id,
              text: `${item.name}`,
            };
          });
          return {
            results: results,
          }
        }
      },
      placeholder: 'コースを選択する'
    });
    $('#products-select-{{$i}}').select2({
      ajax: {
        url: '/api/products',
        data: function (params) {
          return {
            name: params.term,
            productType: 2,
          }
        },
        processResults: function (data, params) {
          const results = data.map(item => {
            return {
              id: item.id,
              value: item.id,
              text: `${item.name}`,
            };
          });
          return {
            results: results,
          }
        }
      },
      placeholder: '商品を選択する'
    });
    "{{end}}"

    $('#users').select2({
      ajax: {
        url: '/api/users',
        data: function (params) {
          return {
            name: params.term,
          }
        },
        processResults: function (data, params) {
          const results = data.map(item => {
            return {
              id: item.id,
              value: item.id,
              text: `${item.familyName}${item.givenName}`,
            };
          });
          return {
            results: results,
          }
        }
      },
      placeholder: 'お客様選択'
    });
    //Date and time picker
    $('#dateOfVisit').datetimepicker({
      format: 'YYYY-MM-DD H:mm',
      icons: {
        time: 'far fa-clock'
      },
    })
    $('#dateOfExit').datetimepicker({
      format: 'H:mm',
      datepicker: false,
      icons: {
        time: 'far fa-clock'
      },
    });

    $('#plusCourse').on('click', function () {
      let courseForm = document.querySelectorAll('.course-form');
      let elem = $('#base-coure').clone();
      elem.attr('id', `course-form-${courseForm.length}`).addClass('course-form');
      elem.find('.categories-select').attr('id', 'categories-select-0');
      $('.course-form-main').append(elem);

      let courseForms = document.querySelectorAll('.course-form');
      courseForms[courseForms.length - 1].id = `course-form-${courseForms.length - 1}`;

      let selectCategories = document.querySelectorAll('.categories-select');
      selectCategories[selectCategories.length - 2].id = `categories-select-${selectCategories.length - 2}`
      $(`#categories-select-${selectCategories.length - 2}`).select2({
        ajax: {
          url: '/api/categories',
          data: function (params) {
            return {
              familyName: params.term,
            }
          },
          processResults: function (data, params) {
            const results = data.map(item => {
              return {
                id: item.id,
                value: item.id,
                text: `${item.name}`,
              };
            });
            return {
              results: results,
            }
          }
        },
        placeholder: 'カテゴリで絞る'
      });

      let selectCourses = document.querySelectorAll('.courses-select');
      selectCourses[selectCourses.length - 2].id = `courses-select-${selectCourses.length - 2}`;
      $(`#courses-select-${selectCourses.length - 2}`).select2({
        ajax: {
          url: '/api/products',
          data: function (params) {
            return {
              name: params.term,
              categoryId: $(`#categories-select-${selectCategories.length - 2}`).val(),
            }
          },
          processResults: function (data, params) {
            const results = data.map(item => {
              return {
                id: item.id,
                value: item.id,
                text: `${item.name}`,
              };
            });
            return {
              results: results,
            }
          }
        },
        placeholder: 'コースを選択する'
      });

      let otherPersons = document.querySelectorAll('.otherPerson');
      otherPersons[otherPersons.length - 2].id = `otherPerson-${otherPersons.length - 2}`;
      otherPersons[otherPersons.length - 2].addEventListener('change', changeBg);
      $(`#otherPerson-${otherPersons.length - 2}`).next().attr('for', `otherPerson-${otherPersons.length - 2}`)

      let hiddenOtherPersons = document.querySelectorAll('#otherPersonHidden');
      hiddenOtherPersons[0].id = `otherPersonHidden-${otherPersons.length - 2}`;
    });

    $('#plusProduct').on('click', function () {
      let productForm = document.querySelectorAll('.product-form');
      let elem = $('#base-product').clone();
      elem.attr('id', `product-form-${productForm.length}`).addClass('product-form');
      $('.product-form-main').append(elem);

      let selectProducts = document.querySelectorAll('.products-select');
      selectProducts[selectProducts.length - 2].id = `products-select-${selectProducts.length - 2}`;
      $(`#products-select-${selectProducts.length - 2}`).select2({
        ajax: {
          url: '/api/products',
          data: function (params) {
            return {
              name: params.term,
              productType: 2,
            }
          },
          processResults: function (data, params) {
            const results = data.map(item => {
              return {
                id: item.id,
                value: item.id,
                text: `${item.name}`,
              };
            });
            return {
              results: results,
            }
          }
        },
        placeholder: '商品を選択する'
      });
    });

    $('#dicountType-1').click(function () {
      $('#discountAmount').removeAttr('max').attr('placeholder', '1000');
    });
    $('#dicountType-2').click(function () {
      $('#discountAmount').attr('max', 100).attr('placeholder', '10%');
    });

  });

</script>
{{ end }}
