{{define "css"}}
{{end}}
{{define "content"}}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>カテゴリ作成</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/categories">カテゴリ一覧</a></li>
            <li class="breadcrumb-item active">カテゴリ作成</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">カテゴリ情報</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div><!-- /.card-header -->
            <div class="card-body">
              <form action="/categories/create" method="post" id="form">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="name">カテゴリ名</label>
                      <input type="txt" class="form-control" placeholder="カテゴリ名" name="name">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary float-sm-right">作成</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{end}}