{{define "css"}}
{{end}}
{{define "content"}}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>お客様一覧</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">お客様一覧</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">一覧</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>住所</th>
                    <th>電話番号</th>
                    <th>次来店日</th>
                    <th>前来店日</th>
                    <th>前来店日数</th>
                  </tr>
                </thead>
                <tbody>
                  {{range $i,$user := .users}}
                  <tr>
                    <td><a href="/users/{{$user.ID}}/edit">{{$user.ID}}</a></td>
                    <td>
                      <ruby>{{$user.FamilyName}}<rt>{{$user.FamilyNameKana}}</rt></ruby>
                      <ruby>{{$user.GivenName}}<rt>{{$user.GivenNameKana}}</rt></ruby>
                    </td>
                    <td>{{$user.Address1}}{{$user.Address2}}{{$user.Address3}}</td>
                    <td>{{$user.PhoneNumber}}</td>
                    {{if $user.NextVisitDate}}
                    <td>{{$user.ParseTommddHM $user.NextVisitDate}}</td>
                    {{else}}
                    <td>予約なし</td>
                    {{end}}
                    {{if $user.PreviousVisitDate}}
                    <td>{{$user.ParseTommddHM $user.PreviousVisitDate}}</td>
                    {{else}}
                    <td>未来店</td>
                    {{end}}
                    {{if $user.LastVistDates}}
                    <td>{{$user.LastVistDates}}日</td>
                    {{else}}
                    <td></td>
                    {{end}}
                  </tr>
                  {{end}}
                </tbody>
              </table>
            </div><!-- /.card-body -->
            {{template "pagenation" .}}
          </div><!-- /.card -->
          <a href="/users/new">
            <button type="button" class="btn btn-primary float-sm-right">お客様作成</button>
          </a>
          <!-- /.card -->
        </div>
      </div>
      <!-- ./row -->
    </div>
  </section>
</div>
{{end}}
