{{define "css"}}
{{end}}
{{define "content"}}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{.productTypeName}}一覧</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{{.productTypeName}}一覧</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">一覧</h3>
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div><!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>カテゴリ</th>
                    <th>{{.productTypeName}}名</th>
                    <th>価格</th>
                  </tr>
                </thead>
                <tbody>
                  {{$productType := .productType}}
                  {{range $i, $product := .products}}
                  <tr>
                    <td><a href="/products/{{$productType}}/{{$product.ID}}/edit">{{$product.ID}}</a></td>
                    <td>{{$product.Category.Name}}</td>
                    <td>{{$product.Name}}</td>
                    <td>{{$product.ConvertPrice $product.Price}}</td>
                  </tr>
                  {{end}}
                </tbody>
              </table>
            </div><!-- /.card-body -->
            {{template "pagenation" .}}
          </div><!-- /.card -->
          <a href="/products/{{$productType}}/new">
            <button type="button" class="btn btn-primary float-sm-right">{{.productTypeName}}作成</button>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
{{end}}